# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/v1/dist
/tmp
/out-tsc
/bazel-out

# Node
v1/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/v1/vite

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
v1/.angular
v1/.firebase
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
/.firebase

# System files
v1/.DS_Store
.DS_Store


v1/.vscode
